Chain-Chan-UI/.phpunit.cache
Chain-Chan-UI/node_modules
Chain-Chan-UI/public/build
Chain-Chan-UI/public/hot
Chain-Chan-UI/public/storage
Chain-Chan-UI/storage/*.key
Chain-Chan-UI/storage/pail
Chain-Chan-UI/vendor
Chain-Chan-UI/.env
Chain-Chan-UI/.env.backup
Chain-Chan-UI/.env.production
Chain-Chan-UI/.phpactor.json
Chain-Chan-UI/.phpunit.result.cache
Chain-Chan-UI/Homestead.json
Chain-Chan-UI/Homestead.yaml
Chain-Chan-UI/npm-debug.log
Chain-Chan-UI/yarn-error.log
Chain-Chan-UI/auth.json
Chain-Chan-UI/.fleet
Chain-Chan-UI/.idea
Chain-Chan-UI/.nova
Chain-Chan-UI/.vscode
Chain-Chan-UI/.zed
python_api/.env
python_api/venv
python_api/__pycache__
